*.a
*.la
*.lo
*.log
*.o
*.mk
*.status
*~
.DS_Store
.deps
.libs
Build
Debug
Release
INSTALL
Makefile
Makefile.in
autom4te.cache
compile
confdefs.h
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
libtool.m4
client_test
test_scout
