bin
*.a
*.bc
*.cmake
*.dSYM
*.done
*.final
*.gcda
*.gcno
*.i
*.la
*.lo
*.log
*.mem
*.nexe
*.o
*.plist
*.s
*.scan
*.sdf
*.status
*.tar.*
*~
.DS_Store
.deps
.dirstamp
.done
.libs
*.dat
/bin/
/obj/
Build
INSTALL
Makefile
Makefile.in
Vagrantfile
autom4te.cache
build
compile
confdefs.h
config.*
configure
configure.lineno
coverage.info
depcomp
install-sh
libtool
ltmain.sh
libtool.m4
client_test
test_scout

# Visual studio files
*.sln
*.opensdf
*.sdf
*.suo
*.vcxproj
*.filters
*.user
scout.VC.*
